<div class="home-container">

    <!-- NAVBAR -->

    <div class="top-navbar">

        <div class="brand">

            L&F Portal

        </div>

        <button
            class="admin-btn"
            routerLink="/admin-login">

            Authority Only

        </button>

    </div>

    <!-- MAIN CARD -->

    <div class="glass-card">

        <div class="logo-box"></div>

        <h1 class="title">
            Lost & Found Portal
        </h1>

        <p class="subtitle">
            Smart AI Powered Item Recovery System
        </p>

        <div class="button-grid">

            <button
                class="portal-btn"
                routerLink="/login">

                Login

            </button>

            <button
                class="portal-btn"
                routerLink="/register">

                Register

            </button>

            <button
                class="portal-btn"
                routerLink="/about">

                About

            </button>

        </div>

    </div>

</div>