.register-container{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        -45deg,
        #0f172a,
        #1e293b,
        #312e81,
        #0f766e
    );

    background-size:400% 400%;

    animation:gradientMove 12s ease infinite;
}

.register-card{

    width:600px;

    padding:40px;

    border-radius:30px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:
    0 25px 60px rgba(0,0,0,0.35);

    color:white;

    animation:floatCard 5s ease-in-out infinite;
}

.logo-box{

    width:80px;

    height:80px;

    margin:auto;

    margin-bottom:20px;

    border-radius:20px;

    background:linear-gradient(
        135deg,
        #60a5fa,
        #22c55e
    );

    transform:rotate(15deg);
}

h1{

    text-align:center;

    margin-bottom:10px;

    font-weight:700;
}

.subtitle{

    text-align:center;

    color:#d1d5db;

    margin-bottom:30px;
}

.form-group{

    margin-bottom:18px;
}

.form-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;
}

.form-group input{

    width:100%;

    padding:12px;

    border:none;

    border-radius:12px;

    background:rgba(255,255,255,0.1);

    color:white;

    outline:none;
}

.form-group input::placeholder{

    color:#cbd5e1;
}

.register-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:linear-gradient(
        135deg,
        #3b82f6,
        #22c55e
    );

    color:white;

    font-weight:700;

    margin-top:10px;

    transition:0.3s;

    cursor:pointer;
}

.register-btn:hover{

    transform:translateY(-3px);

    box-shadow:
    0 15px 25px rgba(0,0,0,0.3);
}

.message-box{

    margin-top:20px;

    text-align:center;

    font-weight:600;

    color:#facc15;
}

@keyframes gradientMove{

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }
}

@keyframes floatCard{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0px);
    }
}
.top-buttons{

    position:fixed;

    top:25px;

    left:25px;

    z-index:1000;

}

.home-btn{

    background:#1e3a8a;

    color:#ffffff;

    border:none;

    padding:12px 24px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    transition:0.3s;

    box-shadow:0 6px 15px rgba(0,0,0,0.15);

}

.home-btn:hover{

    background:#2563eb;

    transform:translateY(-2px);

    box-shadow:0 8px 18px rgba(0,0,0,0.22);

}